/* EXTENSION OF MAIN CSS BUT FOR ADMIN PAGES */
/*  */
/*  */
/*  */
/* ---------------------------------------------------------------------- ADMIN LOGIN / LOGOUT PAGE ---------------------------------------------------------------------- */
.herobanner-admin-login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i2.jpg");
    color: #000;
    height: 98vh;
}
.herobanner-admin-login h1 {
    color: #fff;
}

/* ---------------------------------------------------------------------- ADMIN REGISTER PAGE ---------------------------------------------------------------------- */
.herobanner-admin-register {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i3.jpg");
    color: #000;
    height: 98vh;
}
.herobanner-admin-register h1 {
    color: #fff;
}

/* ---------------------------------------------------------------------- ADMIN REGISTER PAGE ---------------------------------------------------------------------- */
.herobanner-admin-passreset {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i4.jpg");
    color: #000;
    height: 98vh;
}
.herobanner-admin-passreset h1 {
    color: #fff;
}

/* ---------------------------------------------------------------------- ADMIN HOME PAGE ---------------------------------------------------------------------- */
.herobanner-admin-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i1.jpg");
    color: #000;
    height: 100vh;
}
.herobanner-admin-home h1 {
    color: #fff;
    font-size: 3rem;
}

/* ---------------------------------------------------------------------- ADMIN NEWS PAGE ---------------------------------------------------------------------- */
.herobanner-admin-news {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i4.jpg");
    color: #000;
    height: 100vh;
}
.herobanner-admin-news h1 {
    color: #fff;
    font-size: 3rem;
}