
/* ---------------------------------------------------------------------- GLOBAL STUFF ---------------------------------------------------------------------- */
* {
  font-family: 'Poppins';
}

/* Added padding to fix fluid-container */
.content {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Fixes all links */
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
/* featurette objects */
.featurette-divider {
  margin: 5rem 0;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  color: #346272;
}
.featurette-quote {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  color: #346272;
}
.featurette-quoter {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  color: #346272;
  font-size: 1.3rem;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* ---------------------------------------------------------------------- HERO BANNER ---------------------------------------------------------------------- */
.herobanner {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.herobanner h1 {
  font-size: 6rem;
}
.herobanner p {
  font-size: 1.5rem;
}
.herobanner-btn {
  font-size: 1.2rem;
  border-radius: 300px;
}



/* ---------------------------------------------------------------------- HOME PAGE ----------------------------------------------------------------------*/
.herobanner-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i1.jpg");
}
.arrow {
  font-size: 1rem;
}
.service-card {
  min-height: 432px;
}
.home .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.home h2 {
  font-weight: normal;
}
.home .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.design {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/design.png");
}
.blank {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #346272;
  background-color: white;
}
.contact {
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/gmap.PNG");
}
.quote-padding {
  padding-top: 4rem;
}
.quote-padding-2 {
  padding-top: 1rem;
}
/* Icon padding for font awesome */
.ipad {
  padding: 1rem;
}
/* FOOTER */
footer {
  background-color: #346272;
  color: white;
}
footer div div div a {
  color: inherit;
}
#covid-19-title {
  color: #346272;
  font-size: 2rem;
}
#covid-19 {
  color: #346272;
  font-size: 1rem;
}
.covid-modal {
  padding-right: 10px;
  padding-left: 10px;
}
.btn-c19 {
  border: 2px solid black;
  border-color: #346272;
  border-radius: 200px;
  background-color: white;
  color: #346272;
  padding: 7px 14px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.btn-c19:hover {
  background-color: #346272;
  color: white;
}
/* Set up for displaying mobile services section on home page */
#index-desktop {display: block;}
#index-tablet {display: none;}
#index-mobile {display: none;}



/* ---------------------------------------------------------------------- SERVICES PAGE ----------------------------------------------------------------------*/
.herobanner-services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i2.jpg");
}
.services .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.services h2 {
  font-weight: normal;
}
.services .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.btn-services {
  border: 2px solid black;
  border-color: #346272;
  border-radius: 500px;
  background-color: white;
  color: #346272;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.btn-services-disbaled {
  border: 2px solid black;
  border-color: #346272;
  border-radius: 500px;
  background-color: white;
  color: #346272;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-right: 1rem;
  opacity: 0.35;
  pointer-events:none;
  cursor: not-allowed;
}
.btn-services:hover {
  background-color: #346272;
  color: white;
}
.btn-services-inverse {
  border: 2px solid black;
  border-color: #346272;
  border-radius: 500px;
  background-color: #346272;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 0.75rem;
}
.btn-services-inverse:hover {
  background-color: white;
  color: #346272;
}
.seminar-link {
  font-size: 0.8rem;
}
#services-desktop {display: block;}
#services-tablet {display: none;}
#services-mobile {display: none;}



/* ---------------------------------------------------------------------- FORMS PAGE ---------------------------------------------------------------------- */
.herobanner-forms {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i8.jpg");
  color: #fff;
  height: 100vh;
}
.forms {
  margin-top: 5rem;
  margin-bottom: 5rem;;
}
.forms-padding {
  margin-bottom: 2rem;
}
a.pdf-style {
  color: black;
  text-decoration: none; /* no underline */
}
.pdf:hover {
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* ---------------------------------------------------------------------- EVENTS PAGE ---------------------------------------------------------------------- */
.herobanner-events {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i3.jpg");
}
.event-padding {
  padding-top: 24%;
}
.event-btn {
  padding-top: 1rem;
}
.btn-div-gap {
  padding-top: 5%;
}
#events-desktop {display: flex;}
#events-tablet {display: none;}
#events-mobile {display: none;}



/* ---------------------------------------------------------------------- NEWS PAGE ---------------------------------------------------------------------- */
.herobanner-news {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/inews.jpg");
  color: #fff;
  height: 100vh;
}
.news-header {
  padding-top: 5rem;
  padding-left: 17px;
}



/* ---------------------------------------------------------------------- ABOUT US PAGE ---------------------------------------------------------------------- */
.herobanner-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i5.jpg");
}
.about .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.about h2 {
  font-weight: normal;
}
.about .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.about-padding {
  padding-top: 40%;
}
#about-desktop {display: flex;}
#about-tablet {display: none;}
#about-mobile {display: none;}



/* ---------------------------------------------------------------------- CONTACT PAGE ---------------------------------------------------------------------- */
/* Modal header & Footer Green */
.herobanner-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/gmap.PNG");
  color: #000;
  height: 92vh;
}
.herobanner-cbtn {
  font-size: 2rem;
  border-radius: 500px;
  border-width: medium;
}
.modal-hf {
  background-color: #346272;
  color: white;
}
.error {
  color: red;
}
.success {
  color: #346272;
  font-weight: bold;
}


/* ---------------------------------------------------------------------- PAYMENT PAGE ---------------------------------------------------------------------- */
.herobanner-payment {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/ipayment.jpg");
  color: #fff;
  height: 100vh;
}



/* ---------------------------------------------------------------------- CURRENTLY DOWN PAGE ---------------------------------------------------------------------- */
.herobanner-down {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/currently_down.jpg");
  color: #fff;
  height: 100vh;
}



/* ---------------------------------------------------------------------- COLORS ----------------------------------------------------------------------*/
.bg-cpagreen {
  background-color: #346272;
}
.cpagreen {
  color: #346272;
}
.white {
  color: #fff;
}



/* ---------------------------------------------------------------------- MEDIA QUIERIES ---------------------------------------------------------------------- */
/*  ---------- Global ----------*/
@media (min-width: 40em) {
  .news-header {
    padding-top: 5rem;
  }
  .featurette-heading, .featurette-quote {
    font-size: 40px;
  }
}

@media (min-width: 62em) {
  .featurette-heading, .featurette-quote {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/*  ---------- < 1920x1080 ----------*/
@media (max-width:1199px) and (min-width:992px) {
  #index-desktop {display: none;}
  #index-tablet {display: block;}
  #index-mobile {display: none;}

  #services-desktop {display: block;}
  #services-tablet {display: none;}
  #services-mobile {display: none;}

  #about-desktop {display: none;}
  #about-tablet {display: flex;}
  #about-mobile {display: none;}

  #events-desktop {display: none;}
  #events-tablet {display: flex;}
  #events-mobile {display: none;}
}

@media (max-width:1199px) and (min-width:992px) {
  .design, .blank, .contact {
      height: 100%;
  }
  .content {
    padding-top: 0rem;
    padding-bottom: 4rem;
  }
  .featurette-quote {
    font-size: 2rem;
  }
  .mobile {
    font-size: 0.75rem;
  }
  .btn-services-inverse {
    font-size: 0.75rem;
  }
  .btn-services {
    font-size: 0.75rem;
  }
  .service-card {
    min-height: 480px;
  }
  .featurette {
    padding-top: 4rem;
  }
  .featurette-divider {
    margin: 3rem 0;
  }
  .herobanner-contact{
    height: 100vh;
  }
  .about-padding {
    padding-top: 10%;
  }
  .event-padding {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .quote-padding {
    padding-top: 0rem;
  }
  .quote-padding-2 {
    padding-top: 0rem;
  }

}

/*  ---------- Tablet ----------*/
@media screen and (max-width: 991px), screen and (max-height: 991px) {
  #index-desktop {display: none;}
  #index-tablet {display: block;}
  #index-mobile {display: none;}

  #services-desktop {display: none;}
  #services-tablet {display: block;}
  #services-mobile {display: none;}

  #about-desktop {display: none;}
  #about-tablet {display: flex;}
  #about-mobile {display: none;}

  #events-desktop {display: none;}
  #events-tablet {display: flex;}
  #events-mobile {display: none;}
}

@media screen and (max-width: 991px), screen and (max-height: 991px) {
  .design, .blank, .contact {
      height: 100%;
  }
  .content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .featurette-quote {
    font-size: 2rem;
  }
  .mobile {
    font-size: 0.75rem;
  }
  .btn-services-inverse {
    font-size: 0.75rem;
  }
  .btn-services {
    font-size: 0.75rem;
  }
  .service-card {
    min-height: 480px;
  }
  .featurette {
    padding-top: 4rem;
  }
  .featurette-divider {
    margin: 3rem 0;
  }
  .herobanner-contact{
    height: 100vh;
  }
  .about-padding {
    padding-top: 10%;
  }
  .event-padding {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .quote-padding {
    padding-top: 0rem;
  }
  .quote-padding-2 {
    padding-top: 0rem;
  }

}

/*  ---------- Mobile ----------*/
@media screen and (max-width: 600px), screen and (max-height: 600px) {
  #index-desktop {display: none;}
  #index-tablet {display: none;}
  #index-mobile {display: block;}

  #services-desktop {display: none;}
  #services-tablet {display: none;}
  #services-mobile {display: block;}

  #about-desktop {display: none;}
  #about-tablet {display: none;}
  #about-mobile {display: flex;}

  #events-desktop {display: none;}
  #events-tablet {display: none;}
  #events-mobile {display: flex;}
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  .herobanner h1 {
    font-size: 4rem;
  }
  .design, .blank, .contact {
      height: 100%;
  }
  .featurette-heading {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .featurette-quote {
    font-size: 1.3rem;
  }
  .featurette-quoter {
    font-size: 0.75rem;
  }
  .service-card {
    min-height: 100%;
  }
  .top-row-mobile{
    margin-bottom: 0;
  }
  .featurette-divider {
    margin: 1rem 0;
  }
  .herobanner-contact{
    height: 100vh;
  }
  .about-padding {
    padding-top: 10%;
  }
  .event-padding {
    padding-top: 5%;
  }
  .event-btn {
    padding-bottom: 1rem;
  }
  .quote-padding {
    padding-top: 0rem;
  }
  .quote-padding-2 {
    padding-top: 0rem;
  }
  .btn-c19 {
    padding: 3.5px 7px;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
  }
}
