* {
  font-family: 'Poppins';
}

/* COLORS */
.bg-cpagreen {
  background-color: #346272;
}

/* MAIN HERO */
.herobanner {
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.herobanner-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i1.jpg");
}
.herobanner-services {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i2.jpg");
}
.herobanner-events {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i3.jpg");
}
.herobanner-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i1.jpg");
}
.herobanner-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/i1.jpg");
}
.herobanner h1 {
  font-size: 6rem;
}
.herobanner p {
  font-size: 1.5rem;
}
.herobanner-btn {
  font-size: 1.2rem;
  border-radius: 300px;
}
header div div div a.herobanner:hover {
  color: #346272;
}

/* FOOTER */
footer {
  background-color: #346272;
  color: white;
}
